<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.OrgaFood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vegan">
        <activity android:name=".Activity.DashboardHomeScreen"/>
        android:theme="@style/Theme.Vegan">

        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.RegisterActivity2"/>

        android:theme="@style/Theme.Vegan">
        <activity android:name=".Activity.UploadProductActivity" />



        <activity
            android:name=".Activity.LoginActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.CartActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.detailsActivity" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProductsActivity"
            android:screenOrientation="portrait" />
<!--        <activity-->
<!--            android:name=".Activity.RegisterActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/AppTheme.NoActionBar" />-->
<!--        <activity-->
<!--            android:name=".Activity.login"-->
<!--            android:screenOrientation="portrait" />-->
        <activity
            android:name=".Activity.IntroPopup"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- android:theme="@style/AppTheme.NoActionBar" -->
            <!--  -->

        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>